## Customer Journey

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('df_full_flightreport.csv',sep=';')

In [30]:
df.head(1)

,id,Company,Flight n°,Class,Seat,Airplane,Duration,Departure Date/Time,Arrival Date/Time,Departure City,...,Unnamed: 241,Unnamed: 242,Unnamed: 243,Unnamed: 244,Unnamed: 245,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250
0,0,Aegean Airlines,A3983,Economy,1F,Airbus A320,01:14,"09 Aug 19, 22:45","09 Aug 19, 23:59",Sofia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# A helper function to get sentiment of a comment
def get_sentiment(text):
    return nlp(text)._.sentimenter['compound']

def average_score(l_sentences):
    if len(l_sentences) == 0:
        return np.nan
    else:
        l_results = [get_sentiment(text) for text in l_sentences]
        return np.mean(l_results)

#returns a list of sentences if contains a list of words
def find_sentence_if_l_words(txt, l_words):
    seps = ["? ", ". ", "! ", ", "]
    for sep in seps:
        txt = txt.replace(sep, '. ')
    l = [t for t in txt.split('. ') if any(x in t for x in l_words)]
    return l

#returns new features of list of sentence according to words related to a topic
def sentence_extraction_scoring(df_reviews, dict_topics, column_name='Text'):
    df = df_reviews.copy()
    for key, l_words in dict_topics.items():
        df[key + '_sentences'] = df.apply(lambda row: find_sentence_if_l_words(row[column_name], l_words), axis=1)
        df[key + '_score'] = df[key + '_sentences'].apply(average_score)
    return df

#returns new features of list of sentence according to words related to a topic
def sentence_extraction(df_reviews, dict_topics, column_name='Text'):
    df = df_reviews.copy()
    for key, l_words in dict_topics.items():
        df[key] = df.apply(lambda row: find_sentence_if_l_words(row[column_name], l_words), axis=1)
    return df

In [58]:
dict_topics = {'Booking': ['booking', 'book', 'online purchase', 'online'],
              'Pre-trip' : ['preparation', 'prepar', 'packing'],
              'Departure' : ['delay', 'on time', 'timing','wait','postpone','depart','boarding','lounge','duty','shop','security check'],
              'Flying' : ['cabin','crew','seat','spacious','food','attendant'],
              'Arrival' : ['land', 'touchdown', 'custom','border','arriv'],
              }

In [7]:
dict_topics = {'Lighting': ['lighting', 'LED', 'bulb'],
              'Seating & Textile' : ['seat', 'leather','cushion','pillow','blanket','armrest','curtain','seat material',
                                    'adjustabl'],
              'Lavatory' : ['lavatory','lavatories','cabinet','wc','washroom','bathroom','bath','toilets','toilet',
                           'vacuum','waste management','waste disposal'],
              'Safety' : ['oxygen','breathing','mask','vomit bag','emergency'],
              'Catering' : ['appliance', 'kitchen', 'warm food','cold food','galley','refrigerator','oven','fridge',
                           'trolley','cutlery','plate'],
              'Connectivity' : ['wireless', 'wifi', 'streaming','connect','stream','network','AVOD','multimedia','movies',
                               'headset','head set','ear plugs','earplug', 'Mbps','broadband','touch screen','touchscreen',
                               'screen','hotspot','netflix','Netflix','Hulu','hulu','USB','usb','outlet'],
              'Storage' : ['bulkhead', 'storage', 'closet','panel'],
              }

In [8]:
df['Full Review'] = df['Full Review'].fillna('')

In [44]:
list(df)

['id',
 'Company',
 'Flight n°',
 'Class',
 'Seat',
 'Airplane',
 'Duration',
 'Departure Date/Time',
 'Arrival Date/Time',
 'Departure City',
 'Arrival City',
 'Company Grade',
 'Cabin Grade',
 'Cabin Crew Grade',
 'Entertainment/Wifi Grade',
 'Meal/Catering Grade',
 'Lounge Global Grade',
 'Lounge Comfort Grade',
 'Lounge Meal/Catering Grade',
 'Lounge Entertainment/Wifi Grade',
 'Lounge Services Grade',
 'Departure Airport Grade',
 'Dep Efficiency',
 'Dep Access',
 'Dep Services',
 'Dep Cleanliness',
 'Arrival Airport Grade',
 'Arr Efficiency',
 'Arr Access',
 'Arr Services',
 'Arr Cleanliness',
 'Full Review',
 'Conclusion/Summary',
 'Unnamed: 33',
 'Unnamed: 34',
 'Unnamed: 35',
 'Unnamed: 36',
 'Unnamed: 37',
 'Unnamed: 38',
 'Unnamed: 39',
 'Unnamed: 40',
 'Unnamed: 41',
 'Unnamed: 42',
 'Unnamed: 43',
 'Unnamed: 44',
 'Unnamed: 45',
 'Unnamed: 46',
 'Unnamed: 47',
 'Unnamed: 48',
 'Unnamed: 49',
 'Unnamed: 50',
 'Unnamed: 51',
 'Unnamed: 52',
 'Unnamed: 53',
 'Unnamed: 54',
 'Unnamed: 55',
 'Unnamed: 56',
 'Unnamed: 57',
 'Unnamed: 58',
 'Unnamed: 59',
 'Unnamed: 60',
 'Unnamed: 61',
 'Unnamed: 62',
 'Unnamed: 63',
 'Unnamed: 64',
 'Unnamed: 65',
 'Unnamed: 66',
 'Unnamed: 67',
 'Unnamed: 68',
 'Unnamed: 69',
 'Unnamed: 70',
 'Unnamed: 71',
 'Unnamed: 72',
 'Unnamed: 73',
 'Unnamed: 74',
 'Unnamed: 75',
 'Unnamed: 76',
 'Unnamed: 77',
 'Unnamed: 78',
 'Unnamed: 79',
 'Unnamed: 80',
 'Unnamed: 81',
 'Unnamed: 82',
 'Unnamed: 83',
 'Unnamed: 84',
 'Unnamed: 85',
 'Unnamed: 86',
 'Unnamed: 87',
 'Unnamed: 88',
 'Unnamed: 89',
 'Unnamed: 90',
 'Unnamed: 91',
 'Unnamed: 92',
 'Unnamed: 93',
 'Unnamed: 94',
 'Unnamed: 95',
 'Unnamed: 96',
 'Unnamed: 97',
 'Unnamed: 98',
 'Unnamed: 99',
 'Unnamed: 100',
 'Unnamed: 101',
 'Unnamed: 102',
 'Unnamed: 103',
 'Unnamed: 104',
 'Unnamed: 105',
 'Unnamed: 106',
 'Unnamed: 107',
 'Unnamed: 108',
 'Unnamed: 109',
 'Unnamed: 110',
 'Unnamed: 111',
 'Unnamed: 112',
 'Unnamed: 113',
 'Unnamed: 114',
 'Unnamed: 115',
 'Unnamed: 116',
 'Unnamed: 117',
 'Unnamed: 118',
 'Unnamed: 119',
 'Unnamed: 120',
 'Unnamed: 121',
 'Unnamed: 122',
 'Unnamed: 123',
 'Unnamed: 124',
 'Unnamed: 125',
 'Unnamed: 126',
 'Unnamed: 127',
 'Unnamed: 128',
 'Unnamed: 129',
 'Unnamed: 130',
 'Unnamed: 131',
 'Unnamed: 132',
 'Unnamed: 133',
 'Unnamed: 134',
 'Unnamed: 135',
 'Unnamed: 136',
 'Unnamed: 137',
 'Unnamed: 138',
 'Unnamed: 139',
 'Unnamed: 140',
 'Unnamed: 141',
 'Unnamed: 142',
 'Unnamed: 143',
 'Unnamed: 144',
 'Unnamed: 145',
 'Unnamed: 146',
 'Unnamed: 147',
 'Unnamed: 148',
 'Unnamed: 149',
 'Unnamed: 150',
 'Unnamed: 151',
 'Unnamed: 152',
 'Unnamed: 153',
 'Unnamed: 154',
 'Unnamed: 155',
 'Unnamed: 156',
 'Unnamed: 157',
 'Unnamed: 158',
 'Unnamed: 159',
 'Unnamed: 160',
 'Unnamed: 161',
 'Unnamed: 162',
 'Unnamed: 163',
 'Unnamed: 164',
 'Unnamed: 165',
 'Unnamed: 166',
 'Unnamed: 167',
 'Unnamed: 168',
 'Unnamed: 169',
 'Unnamed: 170',
 'Unnamed: 171',
 'Unnamed: 172',
 'Unnamed: 173',
 'Unnamed: 174',
 'Unnamed: 175',
 'Unnamed: 176',
 'Unnamed: 177',
 'Unnamed: 178',
 'Unnamed: 179',
 'Unnamed: 180',
 'Unnamed: 181',
 'Unnamed: 182',
 'Unnamed: 183',
 'Unnamed: 184',
 'Unnamed: 185',
 'Unnamed: 186',
 'Unnamed: 187',
 'Unnamed: 188',
 'Unnamed: 189',
 'Unnamed: 190',
 'Unnamed: 191',
 'Unnamed: 192',
 'Unnamed: 193',
 'Unnamed: 194',
 'Unnamed: 195',
 'Unnamed: 196',
 'Unnamed: 197',
 'Unnamed: 198',
 'Unnamed: 199',
 'Unnamed: 200',
 'Unnamed: 201',
 'Unnamed: 202',
 'Unnamed: 203',
 'Unnamed: 204',
 'Unnamed: 205',
 'Unnamed: 206',
 'Unnamed: 207',
 'Unnamed: 208',
 'Unnamed: 209',
 'Unnamed: 210',
 'Unnamed: 211',
 'Unnamed: 212',
 'Unnamed: 213',
 'Unnamed: 214',
 'Unnamed: 215',
 'Unnamed: 216',
 'Unnamed: 217',
 'Unnamed: 218',
 'Unnamed: 219',
 'Unnamed: 220',
 'Unnamed: 221',
 'Unnamed: 222',
 'Unnamed: 223',
 'Unnamed: 224',
 'Unnamed: 225',
 'Unnamed: 226',
 'Unnamed: 227',
 'Unnamed: 228',
 'Unnamed: 229',
 'Unnamed: 230',
 'Unnamed: 231',
 'Unnamed: 232',
 'Unnamed: 233',
 'Unnamed: 234',
 'Unnamed: 235',
 'Unnamed: 236',
 'Unnamed: 237',
 'Unnamed: 238',
 'Unnamed: 239',
 'Unnamed: 240',
 'Unnamed: 241',
 'Unnamed: 242',
 'Unnamed: 243',
 'Unnamed: 244',
 'Unnamed: 245',
 'Unnamed: 246',
 'Unnamed: 247',
 'Unnamed: 248',
 'Unnamed: 249',
 'Unnamed: 250',
 'Booking',
 'Arrival',
 'Departure',
 'Pre-trip',
 'Flying']

In [9]:
df = sentence_extraction(df, dict_topics, column_name='Full Review')
df.head(2)

,id,Company,Flight n°,Class,Seat,Airplane,Duration,Departure Date/Time,Arrival Date/Time,Departure City,...,Unnamed: 248,Unnamed: 249,Unnamed: 250,Lighting,Storage,Seating & Textile,Lavatory,Catering,Connectivity,Safety
0,0,Aegean Airlines,A3983,Economy,1F,Airbus A320,01:14,"09 Aug 19, 22:45","09 Aug 19, 23:59",Sofia,...,NaN,NaN,NaN,[],[though.Great legroom as always at the bulkhea...,[as the flight was empty.The classic NewYorker...,[],[],[the safety video starring the Milwaukee Bucks...,[I'd only fly Ryanair if it was an emergency]
1,1,Delta (Skywest),DL4489,Domestic First,2A,Bombardier CRJ900,01:15,"26 Jan 20, 09:43","26 Jan 20, 10:58",Toronto,...,NaN,NaN,NaN,[],[],"[and there’s plenty of seating available, so I...",[],[],[but it allowed me only a 58-minute connection...,[]

In [11]:
products.head(2)

,Company,Class,Airplane,Full Review,Lighting,Seating & Textile,Lavatory,Safety,Catering,Connectivity,Storage
0,Aegean Airlines,Economy,Airbus A320,Welcome back to another report from my travels...,[],[as the flight was empty.The classic NewYorker...,[],[I'd only fly Ryanair if it was an emergency],[],[the safety video starring the Milwaukee Bucks...,[though.Great legroom as always at the bulkhea...
1,Delta (Skywest),Domestic First,Bombardier CRJ900,"Introduction Happy 2020, flight-report commun...",[],"[and there’s plenty of seating available, so I...",[],[],[],[but it allowed me only a 58-minute connection...,[]

In [10]:
products = df[['Company','Class','Airplane','Full Review','Lighting','Seating & Textile','Lavatory',
               'Safety','Catering','Connectivity','Storage']]

In [14]:
products['Lighting'] = products['Lighting'].astype(str)
products['Seating & Textile'] = products['Seating & Textile'].astype(str)
products['Lavatory'] = products['Lavatory'].astype(str)
products['Safety'] = products['Safety'].astype(str)
products['Catering'] = products['Catering'].astype(str)
products['Connectivity'] = products['Connectivity'].astype(str)
products['Storage'] = products['Storage'].astype(str)

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [15]:
from textblob import TextBlob, Word, Blobber
from textblob.classifiers import NaiveBayesClassifier
from textblob.taggers import NLTKTagger

In [27]:
journey.head()

,Unnamed: 0,Company,Class,Airplane,Full Review,Booking,Pre-trip,Departure,Flying,Arrival,Booking_Polarity,Booking_Subjectivity,PreTrip_Polarity,PreTrip_Subjectivity,Departure_Polarity,Departure_Subjectivity,Flying_Polarity,Flying_Subjectivity,Arrival_Polarity,Arrival_Subjectivity
0,0,Aegean Airlines,Economy,Airbus A320,Welcome back to another report from my travels...,['I decided to book Aegean'],[],['and the only 2 check-in agents on duty were ...,['as the flight was empty.The classic NewYorke...,"['the night of travel arrived', 'a Lufthansa A...",0.000000,0.000000,0.000000,0.000000,0.050949,0.548587,0.266752,0.409694,0.310667,0.541667
1,1,Delta (Skywest),Domestic First,Bombardier CRJ900,"Introduction Happy 2020, flight-report commun...",['they could see it to.With the trip home book...,[],['I had to call in 24 hours before my departur...,['then immediately called in and applied the u...,['I arrive at Pearson about 8:30 am for my 9:4...,0.258333,0.383333,0.000000,0.000000,0.014583,0.437660,0.167130,0.373765,-0.017411,0.313839
2,2,Thai Airways,Business,Boeing 777-300,Star alliance first trip After visiting Singa...,"[""but ended up taking 45 minutes (which is not...","[""but ended up taking 45 minutes (which is not...",['sats premier check-in lounge When using T1'...,['premium cabin passengers get to use the SATS...,['Roughly 25 minutes to landing the captain an...,0.370833,0.650000,0.370833,0.650000,0.117321,0.409821,0.094703,0.505118,0.220000,0.620000
3,3,Cathay Pacific,Business,Boeing 777-300,BACKGROUND This is the second part of a two-l...,[' Only one human metal detector was online bu...,"["" I was prepared to spend the Christmas and N...",[' I boarded the automated people mover to tak...,[' As carriers like Singapore Airlines were ch...,"['I figured a £2,350 business class ticket for...",-0.075000,0.612500,0.136364,0.454545,0.129885,0.426552,0.064039,0.402381,0.221667,0.353333
4,4,Icelandair,Business,Boeing 757-200,Icelandair has an important place on the Trans...,[],[],['My flight to Iceland was scheduled to leave ...,"[""A typical return business class ticket from ...",['Icelandair has an important place on the Tra...,0.000000,0.000000,0.000000,0.000000,0.264444,0.569444,0.313854,0.555729,0.031778,0.588889

In [33]:
journey = journey.rename(columns={'Full Review':'Review'})

In [35]:
journey = journey[~journey['Review'].isin(['Bonus : Check'])]

In [22]:
journey = pd.read_csv('journey.csv')

In [36]:
journey.to_csv('customerjourney.csv')

In [24]:
journey[['Booking_Polarity', 'Booking_Subjectivity']] = journey['Booking'].apply(lambda Text: pd.Series(TextBlob(Text).sentiment))
journey[['PreTrip_Polarity', 'PreTrip_Subjectivity']] = journey['Pre-trip'].apply(lambda Text: pd.Series(TextBlob(Text).sentiment))
journey[['Departure_Polarity', 'Departure_Subjectivity']] = journey['Departure'].apply(lambda Text: pd.Series(TextBlob(Text).sentiment))
journey[['Flying_Polarity', 'Flying_Subjectivity']] = journey['Flying'].apply(lambda Text: pd.Series(TextBlob(Text).sentiment))
journey[['Arrival_Polarity', 'Arrival_Subjectivity']] = journey['Arrival'].apply(lambda Text: pd.Series(TextBlob(Text).sentiment))

In [18]:
products.to_csv('Products.csv')

In [60]:
journey = df[['Company','Class','Airplane','Full Review','Booking','Pre-trip','Departure','Flying','Arrival']]

In [61]:
journey.head(20)

,Company,Class,Airplane,Full Review,Booking,Pre-trip,Departure,Flying,Arrival
0,Aegean Airlines,Economy,Airbus A320,Welcome back to another report from my travels...,[I decided to book Aegean],[],[and the only 2 check-in agents on duty were t...,[as the flight was empty.The classic NewYorker...,"[the night of travel arrived, a Lufthansa A320..."
1,Delta (Skywest),Domestic First,Bombardier CRJ900,"Introduction Happy 2020, flight-report commun...",[they could see it to.With the trip home booke...,[],[I had to call in 24 hours before my departure...,[then immediately called in and applied the up...,[I arrive at Pearson about 8:30 am for my 9:45...
2,Thai Airways,Business,Boeing 777-300,Star alliance first trip After visiting Singa...,[but ended up taking 45 minutes (which is not ...,[but ended up taking 45 minutes (which is not ...,"[sats premier check-in lounge When using T1, ...",[premium cabin passengers get to use the SATS ...,[Roughly 25 minutes to landing the captain ann...
3,Cathay Pacific,Business,Boeing 777-300,BACKGROUND This is the second part of a two-l...,[ Only one human metal detector was online but...,[ I was prepared to spend the Christmas and Ne...,[ I boarded the automated people mover to take...,[ As carriers like Singapore Airlines were cha...,"[I figured a £2,350 business class ticket for ..."
4,Icelandair,Business,Boeing 757-200,Icelandair has an important place on the Trans...,[],[],[My flight to Iceland was scheduled to leave a...,[A typical return business class ticket from B...,[Icelandair has an important place on the Tran...
5,Turkish Airlines,Economy,Airbus A330-300,Hello all my lovely readers <3On 20AUG2019 I h...,[],[USB and charging ports on the right side. On ...,[the staff sticked an airline's logo sticker o...,[And since I am a staff so my seat was on stan...,[I arrived at Bangkok Suvarnabhumi Airport (BK...
6,United,Premium Eco,Boeing 787-10,Hello and a very warm welcome to my newest tri...,"[I attempted to check in online, I expected th...",[],[In the end I ended up with a document that sa...,[but also because it enabled me to check in 2 ...,"[Take-off When I arrived at the gate, which i..."
7,Delta Air Lines,Business,Airbus A319,I originally booked Air Canada from Bermuda to...,[I originally booked Air Canada from Bermuda t...,[],"[There was no waiting time, Most of them are t...",[ A few drinks were available but there was no...,[We landed in Boston at 15.17 for a scheduled ...
8,Singapore Airlines,First,Airbus A380-800,tar alliance first in asia As usual when I vi...,[ Routing NH1 - First - Washington → Tokyo...,[],"[I booked this flight for 53,000 Krisflyer Mil...",[but when double checking the seat map about a...,[beijing international airport (PEK) I positi...
9,Delta Air Lines,Premium Eco,Airbus A220-100,INTRODUCTION - A220 day trip on delta This tr...,[I booked this ticket in Comfort+ on the way d...,[],[The flights were as follows: Routing Del...,[which has a variety of food options available...,[and Gate A6 is currently being configured for...
10,Air Asia,Economy,Airbus A320,Introduction Decided to try flying to Johor B...,[],[],[The bus was pretty comfortable and I actually...,"[I'm 180cm(5'11"") so the seat in front of me i...",[It's narrow and uninspiring. Arrived at my ga...
11,British Airways,First,Boeing 777-200ER,I had flown 824 segments on commercial aircraf...,[I finally collected enough Avios as a member ...,[],"[To go to the lounge turn left after security,...",[The first difference I could notice compared ...,[The flight to Bermuda is unusual because it h...
12,EVA Air,Economy,Boeing 787-9,Hello everyone! Welcome This report will cover...,[],[],"[so I had a lot of time until the boarding, I ...",[The lounged was not so crowded as I expected....,[ Routing LH730 Munich -> Hong Kong Coming...
13,Egyptair,Business,Boeing 777-300,I went to South Africa with my family for the ...,[],[],[business classOur flight from Johannesburg ar...,[Are we really boarding an Egyptair plane?The ...,[customer service or onboard service and Cairo...
14,Cebu Pacific,Economy,Airbus A320,Routing 5J891: MNL-MPH You are here Z...,[I am booked to be here for only three nights ...,[],[ The NAIA Express had a motorway feel but my ...,"[I felt the warm greeting of the cabin crew, ...",[an popular tourist island in the Central Phil...
15,Cathay Pacific,Business,Boeing 777-300ER,BACKGROUND This is the second part of a two-l...,[it would have cost me upwards of £750 (over $...,[],[ Routing CX902 - Business - Manila → Hong...,[I made an enquiry from Cathay's nearby transf...,[I found a flight where only the penalty/reboo...
16,Bamboo Airways,Economy,Airbus A320,Hi guys. Welcome to my next report on Flight-R...,[],[the aircraft started to descend and prepared ...,[and the estimated departure time would be 4.0...,[and it was 13.3 years old.BoardingThis was my...,[the aircraft started to descend and prepared ...
17,Cathay Pacific,Business,Boeing 777-300,Routing CX902: MNL-HKG You are here C...,[it would have cost me upwards of £750 (over $...,[the cabin crew prepared for the meal service],[Routing CX902: MNL-HKG You are here ...,[Cathay allows arriving business class passeng...,[Cathay allows arriving business class passeng...
18,Air China,Economy,Boeing 787-9,Routing CA984 - Economy - Los Angeles → Be...,[],[],[SZX international lounge Airport operated co...,[though not much food was being served…Noodle ...,[Routing CA984 - Economy - Los Angeles → B...
19,Aerolineas Argentinas,Business,Airbus A330-200,Flying again on aerolíneas argentinas club con...,[and i was originally booked in economy class],"[etc) and the safety questions such as ""Has an...",[the luck was on my side and I was informed of...,[Little did I know that I was going to fly on ...,[and we started our descent.We landed New York...

In [62]:
journey.to_csv('journey.csv')

In [ ]:
def getReview(word):
    reviews = df[df['Text'].str.contains(word)]
    return reviews['Text'].sample(10)

In [64]:
journey[journey['Class']=='Economy'].sample(5)

,Company,Class,Airplane,Full Review,Booking,Pre-trip,Departure,Flying,Arrival
1686,Delta (Skywest),Economy,Bombardier CRJ200,My time over at Minneapolis was a short one - ...,[],[],"[I chose an afternoon departure for this one, ...",[or something Took my seat 10A as more passeng...,[That morning before the concert I was informe...
626,Lufthansa,Economy,Bombardier CRJ900,"Hi,Budapest Airport was quite busy this evenin...",[],[],[Once airside in the shopping & food plaza I h...,[Once airside in the shopping & food plaza I h...,[Another 10 minutes later the drinks trolley r...
5433,Middle East Airlines,Economy,Airbus A320,My flight will take me today on one of MEA’s d...,[],[],[and will land at OEJN runway 34R.The plane de...,[],[and will land at OEJN runway 34R.The plane de...
1233,Solaseed Air,Economy,Boeing 737-800,"Hello again,AF1601 MAD-CDG (NO REPORT)NH 216 C...",[Do note that Solaseed Air does not have any i...,[],[we made our way to our boarding gate where we...,[Solaseed airlines does a system where they le...,[KagoshimaWe arrived to Kagoshima on time]
5980,China Southern,Economy,Embraer E-190,"Marathon in the Chinese Far-West, Book 6Taipei...",[a bookstore where half of the books are devot...,[],[Book 6Taipei – Beijing (A333 - Air China) The...,[where there is no dearth of seatsThe previous...,"[I also saw the landing lights, but the advant..."

In [65]:
journey[journey['Company']=='Lufthansa'].sample(5)

,Company,Class,Airplane,Full Review,Booking,Pre-trip,Departure,Flying,Arrival
2691,Lufthansa,First,Airbus A380-800,Greetings Flight Report community and thanks f...,[],[],"[the timing, Through the luck of my timing I b...",[The first class cabins on these machines are ...,[Esther is the type who seems to truly enjoy p...
1536,Lufthansa,Economy,Boeing 747-8I,"Hi everyone, Welcome to Part 1 of my trip repo...",[D-ABYJ at Gate 22I then found myself a place ...,[],[I requested for my boarding pass to be printe...,[The crew for the outbound AF191 to Paris were...,[and was to land in Bangalore 30 minutes behin...
1975,Lufthansa,Economy,Airbus A320,"Hey guys,welcome to this short trip to Hamburg...",[Series overview 1st PartNUE > FRA with LH143...,[],[I did not see any empty seats.HAM Airport aft...,[I did not see any empty seats.HAM Airport aft...,[And of course of HAM in the background ;)The ...
1605,Lufthansa,Economy,Airbus A320,"Hi,Welcome to this short domestic German hop f...",[],[],"[Hi,Welcome to this short domestic German hop ...",[30 minutes in the Lufthansa Business Lounge t...,"[Hi,Welcome to this short domestic German hop ..."
3031,Lufthansa,Business,Airbus A320neo,"Hello,I took this short flight after arriving ...",[],[],[2 hours connection time in Frankfurt I visite...,[2 hours connection time in Frankfurt I visite...,"[Hello,I took this short flight after arriving..."

In [66]:
journey[journey['Airplane']=='Airbus A320'].sample(5)

,Company,Class,Airplane,Full Review,Booking,Pre-trip,Departure,Flying,Arrival
294,Lufthansa,Economy,Airbus A320,troduction Hello FlightReportersApart from fl...,[which closed its operations 10 days before Fa...,[],[the second busiest in OsloFrom there the Flyt...,[Terminal 1 Routing LH233 - Economy - Rom...,[the second busiest in OsloFrom there the Flyt...
242,Thai Smile,Economy,Airbus A320,Hello everyone and welcome to another flight r...,[],[],[I don't know anywhere in the world you would...,[My seat no was 52A and no the A320 doesnt hav...,[I don't know anywhere in the world you would...
4058,LAN Airlines,Economy,Airbus A320,"I am enjoying my weekend getaway in Castro, on...",[and a cover flap informs about LAN's online IFE],[I guess this is intended to optimize the wait...,[but when I want to see my boarding pass on th...,[So much so that the seats have been aligned b...,"[on Chiloé island, where I arrived yesterday a..."
2983,Iberia,Business,Airbus A320,"In La Coruña AIrport, located in Alvedro/La Co...",[],[],"[The first and only lounge, So i think this lo...",[],[]
830,ANA,Economy,Airbus A320,Japanese geography 201 Hachijōjima 八丈島 (i.e. ...,[but included a piece of checked luggage and f...,[],[With 3h5’ between the arrival of the CDG-HND ...,[but included a piece of checked luggage and f...,"[""Hachijō Island"") is next to last in the stri..."

In [67]:
bench = pd.read_csv('company performance.csv')

In [68]:
bench

,Company,Seat_Polarity,FoodBeverages_Polarity,InflightEntertainment_Polarity,GroundService_Polarity,Staff_Service_Polarity,Overall
0,air canada,0.013161,0.013433,0.008405,0.006895,0.026046,0.013588
1,air china,0.074228,0.073718,0.028046,0.023013,0.120780,0.063957
2,air france,0.025789,0.039714,0.013680,0.009662,0.065396,0.030848
3,american airlines,0.050029,0.043049,0.031986,0.023953,0.081325,0.046068
4,emirates,0.025934,0.028055,0.024567,0.008044,0.042116,0.025743
5,lufthansa,0.035606,0.041926,0.016109,0.014964,0.077720,0.037265
6,singapore airlines,0.054261,0.074399,0.032775,0.022282,0.127418,0.062227
7,industrial average,0.028894,0.033986,0.018458,0.011183,0.057647,0.030034

In [69]:
bench = pd.read_csv('df_grouped_company_class_haul.csv')

In [70]:
bench

,Unnamed: 0,Class,Flight Length,Company,Cabin Staff Service,Food & Beverages,Ground Service,Inflight Entertainment,Seat Comfort
0,0,Business Class,Long-Haul,ANA,4.031250,4.093750,2.106250,4.062500,4.062500
1,1,Business Class,Long-Haul,Aer Lingus,4.500000,4.416667,2.025000,4.000000,4.500000
2,2,Business Class,Long-Haul,AeroMexico,4.250000,4.500000,2.100000,4.000000,4.250000
3,3,Business Class,Long-Haul,Aerolineas Argentinas,4.250000,4.875000,2.225000,3.875000,4.750000
4,4,Business Class,Long-Haul,Air Asia X,3.750000,3.250000,1.900000,2.750000,4.000000
...,...,...,...,...,...,...,...,...,...
1044,1044,Premium Economy,Short-Haul,SAS,4.027778,4.000000,2.205556,3.138889,3.916667
1045,1045,Premium Economy,Short-Haul,Thai Lion Air,3.250000,3.750000,1.450000,3.250000,4.000000
1046,1046,Premium Economy,Short-Haul,United,4.000000,3.250000,2.000000,3.125000,3.875000
1047,1047,Premium Economy,Short-Haul,Vueling Airlines,2.500000,2.500000,1.250000,2.500000,2.500000
1048,1048,Premium Economy,Short-Haul,WestJet,3.000000,1.000000,2.250000,3.750000,3.500000

In [77]:
bench = bench[bench.Company.isin(['Air France','Singapore Airlines','Lufthansa','British Airways','Cathay Pacific'])]

In [85]:
bench_lh = bench[bench['Flight Length'] == 'Long-Haul']
bench_mh = bench[bench['Flight Length'] == 'Mid-Haul']
bench_sh = bench[bench['Flight Length'] == 'Short-Haul']

In [84]:
bench_lh_e = bench_lh[bench_lh['Class'] == 'Economy Class']
bench_lh_pe = bench_lh[bench_lh['Class'] == 'Premium Economy']
bench_lh_b = bench_lh[bench_lh['Class'] == 'Business Class']
bench_lh_f = bench_lh[bench_lh['Class'] == 'First Class']

In [86]:
bench_mh_e = bench_mh[bench_mh['Class'] == 'Economy Class']
bench_mh_pe = bench_mh[bench_mh['Class'] == 'Premium Economy']
bench_mh_b = bench_mh[bench_mh['Class'] == 'Business Class']
bench_mh_f = bench_mh[bench_mh['Class'] == 'First Class']

In [87]:
bench_sh_e = bench_sh[bench_sh['Class'] == 'Economy Class']
bench_sh_pe = bench_sh[bench_sh['Class'] == 'Premium Economy']
bench_sh_b = bench_sh[bench_sh['Class'] == 'Business Class']
bench_sh_f = bench_sh[bench_sh['Class'] == 'First Class']

In [88]:
bench_lh_e

,Unnamed: 0,Class,Flight Length,Company,Cabin Staff Service,Food & Beverages,Ground Service,Inflight Entertainment,Seat Comfort
267,267,Economy Class,Long-Haul,Air France,3.980159,3.579365,1.865873,3.436508,3.448413
292,292,Economy Class,Long-Haul,British Airways,4.050000,3.600000,2.008571,3.650000,3.800000
294,294,Economy Class,Long-Haul,Cathay Pacific,4.116667,4.033333,2.017500,4.458333,4.266667
331,331,Economy Class,Long-Haul,Lufthansa,4.231818,3.877273,2.000909,3.922727,4.113636
351,351,Economy Class,Long-Haul,Singapore Airlines,4.358434,4.156627,2.088253,4.364458,4.331325

In [90]:
def getAvg(df):
    
    df.loc['Industrial Average'] = df.mean()
    return df

In [100]:
def AvgDif(df):

    cols = ['Cabin Staff Service', 'Food & Beverages', 'Ground Service', 'Inflight Entertainment', 'Seat Comfort']

    for col in cols:
        for row in range(4):
            df[col][row] - df[col][-1]
        
    return df

In [101]:
test = AvgDif(bench_lh_e)

KeyError: 0

In [19]:
products

,Company,Class,Airplane,Full Review,Lighting,Seating & Textile,Lavatory,Safety,Catering,Connectivity,...,Lavatory_Polarity,Lavatory_Subjectivity,Safety_Polarity,Safety_Subjectivity,Connectivity_Polarity,Connectivity_Subjectivity,Storage_Polarity,Storage_Subjectivity,Catering_Polarity,Catering_Subjectivity
0,Aegean Airlines,Economy,Airbus A320,Welcome back to another report from my travels...,[],['as the flight was empty.The classic NewYorke...,[],"[""I'd only fly Ryanair if it was an emergency""]",[],"[""the safety video starring the Milwaukee Buck...",...,0.000000,0.000000,0.4,0.95,0.178571,0.257143,0.206667,0.411667,0.000000,0.000000
1,Delta (Skywest),Domestic First,Bombardier CRJ900,"Introduction Happy 2020, flight-report commun...",[],"['and there’s plenty of seating available', 's...",[],[],[],['but it allowed me only a 58-minute connectio...,...,0.000000,0.000000,0.0,0.00,0.028571,0.442857,0.000000,0.000000,0.000000,0.000000
2,Thai Airways,Business,Boeing 777-300,Star alliance first trip After visiting Singa...,[],['I got there right as it opened at 6:15am.Imm...,['Note: I believe bathrooms are outside of the...,[],[],"[""I'm also kind of paranoid about connections ...",...,-0.122857,0.357143,0.0,0.00,0.143510,0.592067,0.050000,0.475000,0.000000,0.000000
3,Cathay Pacific,Business,Boeing 777-300,BACKGROUND This is the second part of a two-l...,[],[' As carriers like Singapore Airlines were ch...,[' It took me 15 minutes to freshen up and the...,[],[],['I needed to run errands such as buying some ...,...,-0.091667,0.100000,0.0,0.00,-0.074074,0.518519,0.214286,0.321429,0.000000,0.000000
4,Icelandair,Business,Boeing 757-200,Icelandair has an important place on the Trans...,[],"['There were several nice seating areas', ""The...",[],[],[],"['these flights are connecting', 'and the typi...",...,0.000000,0.000000,0.0,0.00,0.126389,0.466667,0.350000,0.362500,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6256,China Southern,Economy,Airbus A320,I haven't got many pictures of my SYD-CAN-SYX ...,[],['I then went to the gate to board my flight w...,[],[],[],[],...,0.000000,0.000000,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6257,LAN Airlines,Business,Airbus A340-300,In October 2010 I went to China on the island ...,[],"[""we were invited to board the Airbus 340-300 ...",[],[],['safety demonstrations are shown in spanish a...,[],...,0.000000,0.000000,0.0,0.00,0.000000,0.000000,0.000000,0.000000,-0.154545,0.484848
6258,KLM,Business,Boeing 737-700,After my long LAX-AMS flight I went to the Cro...,[],['It was packed and not a seat insight so I el...,[],[],[],[],...,0.000000,0.000000,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6259,KLM,Business,Boeing 747-400,Here is the next report for my trip taking me ...,[],['boarding is started with World Business Clas...,[],[],[],['I watch movies to pass time'],...,0.000000,0.000000,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6260,Air France,Business,Boeing 777-200ER,Ia Orana from Tahiti !Here is a Flight Report ...,[],"[""Blanc Limoux Terroir de Haute Vallée 2007 Ca...",[],[],[],[],...,0.000000,0.000000,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [98]:
def AvgDif(df):

    df[['Cabin Staff Service', 'Food & Beverages', 'Ground Service', 'Inflight Entertainment', 'Seat Comfort']] =
    df[['Cabin Staff Service', 'Food & Beverages', 'Ground Service', 'Inflight Entertainment', 'Seat Comfort']] - 
    df.iloc['Industrial Average']
    
    return df

SyntaxError: invalid syntax (<ipython-input-98-d071580e70b3>, line 3)

In [92]:
bench_lh_e = getAvg(bench_lh_e)

In [95]:
bench_lh_e = AvgDif(bench_lh_e)

KeyError: (-1, 'occurred at index Unnamed: 0')